@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500;700&display=swap');

body {
  margin: 0;
  font-family: 'Ubuntu';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(120deg, #abdcff, #0396ff);
  min-height: 100vh;
  color: white;
  text-align: center;
}

.App input {
  border-radius: 50px;
  font-size: 20px;
  border: none;
  padding: 8px 15px;
  margin-top: 10px;
}

.App input:focus {
  outline: none;
}

.App form {
  margin-top: 10px;
}

.App button {
  position: absolute;
  font-size: 20px;
  display: inline-block;
  padding: 0.3em 1.2em;
  margin: 0.8em 0.1em 0.1em 0;
  border: 0.16em solid rgba(255, 255, 255, 0);
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: black;
  text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
  text-align: center;
  transition: all 0.2s;
  top: 83%;
  transform: translate(-50%, -50%);
}
