.resultDayli {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  background: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  min-width: 25%;
  min-height: 50%;
}
.resultDayli img {
  width: 50px;
  height: 50px;
}

.temp {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.days {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.icons {
  display: flex;
  flex-direction: column;
}

.ico {
  flex-grow: 1;
}

@media (max-height: 1000px) and (orientation: portrait) {
  .resultDayli {
    top: 58%;
    min-width: 70%;
  }

  button.backBTN {
    top: 93%;
  }
}

@media (orientation: landscape) {
  button.backBTN {
    top: 60%;
    left: 14%;
  }
  .resultDayli {
    left: 75%;
    background: none;
  }
  h3.title {
    display: none;
  }
}
